@use "../../../styles/scss/"as *;

.center__container {
    color: $txt-color;
    padding: 20px 32px 60px;

    .main__content {
        text-align: left;
        margin: 0 auto;
        max-width: 1024px;
        padding: 20px 16px;
        border-radius: 10px;
        animation: slide-left 1s;
    }

    .header {
        padding: 0 1rem;
        margin-bottom: 10px;

        h1 {
            font-size: 2rem;
            font-weight: 700;

        }

        span {
            font-size: 13px;
        }
    }

    .changeanytime {
        padding: 0 1rem;
        margin-bottom: 20px;

        li {
            margin-bottom: 5px;
        }

        i {
            height: 24px;
            width: 24px;
            font-size: 1.3rem;
            color: $main-color;
        }

        span {
            font-size: 1.2rem;
            margin-left: 10px;
        }
    }

    .plan__grid__header {

        @include flex(flex-end, flex-end);
        flex-direction: column;

        .plan__grid__content {
            width: 75%;
            display: flex;

            @include mobile {
                width: 100%;
            }

            label {
                width: calc(100% / 3);
                display: flex;
                padding: 30px 0;
                flex: 1 1 auto;
                position: relative;
                height: 120px;
                width: 120px;
                align-items: center;
                justify-content: center;

                input {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    appearance: none;
                    z-index: -1;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    background: $main-color;
                    height: 120px;
                    width: 120px;
                }

                span {
                    display: flex;
                    padding: 1px;
                    background: $main-color;
                    color: #fff;
                    font-weight: 700;
                    opacity: .6;
                    border-radius: 2px;
                    font-size: 17px;
                    margin: 0 auto;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0 0 3px 0 $main-color;
                    height: 120px;
                    width: 120px;

                    &.active {
                        background-color: $main-color;
                        opacity: 1;
                        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                    }
                }
            }
        }
    }

    .plan__grid__talbe {
        border-collapse: collapse;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        margin-top: 20px;

        tr {
            border-bottom: 1px solid #ccc;
            min-height: 60px;
            @include flex('center', 'center');
            vertical-align: middle;

            td {
                display: block;
                flex-basis: auto;
                font-size: 1rem;
                padding: 12px 16px;
                text-align: left;
                width: 100%;
                opacity: 0.6;

                &.active {
                    opacity: 1;
                    font-weight: 400;

                }
            }
        }
    }

    .btn__container {
        margin-top: 24px;
        text-align: center;
        margin: 2.5rem auto;

        button {
            width: 40%;
            min-height: 64px;
            font-weight: 500;
            font-size: 24px;
            border: 4px solid transparent;
            border-radius: 5px;
            background-color: $main-color;
            color: $white;

            &:disabled {
                cursor: not-allowed;
                opacity: .5;
            }

            &:enabled {
                opacity: 1;
            }
        }
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(5%);
    }

    100% {
        opacity: 1;
    }
}