@use "../../styles/scss/" as *;

.no__arrow {
    -moz-appearance: textfield;
  }
  .no__arrow::-webkit-inner-spin-button {
    display: none;
  }
  .no__arrow::-webkit-outer-spin-button,
  .no__arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.center__container{
    
    padding: 40px 32px 60px;
   
    .reg__form{
        text-align: left;
        max-width: 500px;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: rgba(29, 29, 29, .3); 
        padding: 20px;
        border-radius: 5px;
        animation: slide-left 1s;

    }


    form{
        display: block;
    margin-top: 0em;
    }
    .header{
        margin-top: 1.5rem;
        span{
            text-align: inherit;
            font-size: 13px;
        }
        h1{
            font-weight: 700;
            font-size: 3rem;
        }
    }

    .btn__container{
        margin-top: 2rem;
        padding: 0;
        button{
            width: 100%;
            min-height: 64px;
            font-weight: 500;
            font-size: 24px;
            border: 4px solid transparent;
            border-radius: 5px;
            background-color: #13b164;
            color: $white;
        
            &:disabled{
                cursor: not-allowed;
                opacity: .5;
            }
            &:enabled{
                opacity: 1;
            }
        }
    }

    .form__inputs{

        .customDiv{
            position: relative;

            .customDivIcon{
                position: absolute;
                right: 5px;
                top: 5px;
            }
        }
        .available{
            border-color: green;
        }
        .notAvailable{
            border-color: crimson;
        }
        select{
            option{
                background-color: #0f0f0f;
            }
            
        }
        input,select{
            margin-bottom: 2rem;
            color: $txt-color;      
            border: none;
            background-color: transparent;
            border-bottom: .5px solid $main-color;
            width: 100%;
            padding: 7px;
            outline: none;
            font-size: 1.4rem;
            // border: 2px solid $main-color;
         
        }
    }

}

@keyframes slide-left {
    0% { 
        opacity: 0;
        transform: translateX(5%);
    }
    100% {      
         opacity: 1;
         }
}