@use "../../styles/scss/" as *;


.navbar {
    background-color: $body-bg;
    color: $body-bg;
    padding: 1rem;
    border-bottom: 1px solid rgba(219, 217, 217, 0.1);

    .logo {
        img {
            width: 60px;
            height: 60px;
            cursor: pointer;
            object-fit: contain;
        }
    }
}