$body-bg: #0f0f0f;
$main-color: #14ED82;
$txt-color: #fff;
$sign-color: #1d1d1d;
$input-color: #2a2a2a;


$white: #fff;

$box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

$header-height: 6rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Montserrat', sans-serif;





